.experience-page-container {
  display: flex;
  flex-direction: column;

  .experience-page-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    .milestone-tree {
      width: 2px;
      background-color: rgba(0, 0, 0, 0.2);
      height: 96%;
      position: absolute;
      left: 12px;
    }

    .milestone {
      width: 10px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: black;
      position: absolute;
      left: 8px;
      top: 12px;
    }

    .company-name {
      font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 0px;
    }

    .project-name {
      margin-bottom: 0px;
      font-weight: bold;
      font-size: 1rem;
      padding-top: 0.4rem;
    }

    .position-name {
      font-size: 0.9rem;
    }

    .zkSync,
    .moonpay,
    .transak {
      img {
        width: 70%;
        aspect-ratio: unset;
      }
    }

    .wagmi {
      img {
        width: 40%;
        aspect-ratio: unset;
      }
    }

    .aws {
      img {
        width: 30%;
        aspect-ratio: unset;
      }
    }
  }
}

@media (min-width: 481px) {
  .experience-page-container {
    .experience-page-content {
      row-gap: 3rem;

      .company-name {
        font-size: 1.4rem;
      }

      .project-name {
        font-size: 1.25rem;
      }

      .zkSync,
      .moonpay,
      .transak {
        img {
          width: 65%;
        }
      }

      .wagmi {
        img {
          width: 40%;
        }
      }

      .aws {
        img {
          width: 30%;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  .experience-page-container {
    .experience-page-content {
      flex-direction: row;
      column-gap: 1.5rem;

      .company-name {
        font-size: 1.4rem;
      }

      .project-name {
        font-size: 1.25rem;
      }

      .zkSync,
      .moonpay,
      .transak {
        img {
          width: 100%;
        }
      }

      .wagmi {
        img {
          width: 70%;
        }
      }

      .aws {
        img {
          width: 50%;
        }
      }
    }
  }
}
