* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  scroll-behavior: smooth;
  user-select: none;
}

@import url('./styles/index.scss');
